<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.andrewning.sortphotos</string>
    <key>ProgramArguments</key>
    <array>
	<string>python</string>
        <string>/usr/local/bin/sortphotos.py</string>  <!-- full path to sortphotos.py -->
        <string>-m</string>
        <string>/Users/Me/Pictures/DumpHere</string>  <!-- full path to source directory -->
        <string>/Users/Me/Pictures</string>  <!-- full path to destination directory -->
    </array>
    <key>StartInterval</key>
    <integer>86400</integer>  <!-- how often sortphotos.py should execute (in seconds) -->
</dict>
</plist>